{{ define "main" }}
<div class="container my-5">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery1.avif" class="img-fluid" alt="Image 1">
        <p class="text-center">Image 1</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery2.avif" class="img-fluid" alt="Image 2">
        <p class="text-center">Image 2</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery3.avif" class="img-fluid" alt="Image 3">
        <p class="text-center">Image 3</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery3.avif" class="img-fluid" alt="Image 4">
        <p class="text-center">Image 4</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery3.avif" class="img-fluid" alt="Image 5">
        <p class="text-center">Image 5</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery3.avif" class="img-fluid" alt="Image 6">
        <p class="text-center">Image 6</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery3.avif" class="img-fluid" alt="Image 7">
        <p class="text-center">Image 7</p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/assets/gallery3.avif" class="img-fluid" alt="Image 8">
        <p class="text-center">Image 8</p>
      </div>
    </div>
  </div>
{{ end }}
